<header class="styleguide-header" data-styleguide-header>
	<h2 class="styleguide-header__title">Cartridge Styleguide</h2>
	<button class="styleguide-header__nav-control" data-styleguide-header__nav-control>menu &#8942;</button>
	<nav class="styleguide-header__nav">
		<a href="#" class="styleguide-header__nav-item">Navigation link 1</a>
		<a href="#" class="styleguide-header__nav-item" >Navigation link 2</a>
	</nav>
</header>