<header class="styleguide-header" data-styleguide-header>
	<button class="styleguide-header__nav-control" data-styleguide-header__nav-control>menu &#8942;</button>
	<nav class="styleguide-navigation">
		<a href="#">Navigation link 1</a>
		<a href="#">Navigation link 2</a>
	</nav>
</header>